hterm085-windows
hterm085-windows.zip
Code von Anna
Code von Benjamin
out
build
.vscode
*.out
*.puml
*.egg-info
*.txt
*tmp*
temp*
node_modules
*depricated*
*dev*
__pycache__
test/__pycache__
*.pyc
*.svg
*.png
*.bat
*.prof
*.log
stackable.py
logs/*.log
